/webcanter/.repl/*
/webcanter/out/*
/webcanter/resources/public/js/webcanter.js
*.dll
*.obj
*.tlog
*.dll
./sandbox/Release/*

*.metagen
*.vcxproj.user
*.log
*.lastbuildstate
cytodyem_plot_extract/sandbox/FCSAPI/Release/*
cytodyem_plot_extract/sandbox/Release/*
cytodyem_plot_extract/sandbox/sandbox/Release/*
*.sdf
*.suo
cytodyem_plot_extract/sandbox/Debug/*
cytodyem_plot_extract/sandbox/FCSAPI/Debug/*
cytodyem_plot_extract/sandbox/sandbox/Debug/*
*.opensdf
cytodyem_plot_extract/sandbox/GateDrawing/Debug/*
cytodyem_plot_extract/sandbox/GateDrawing/Release/*
cytodyem_plot_extract/sandbox/ipch/*
cytodyem_plot_extract/sandbox/Interfaces/Debug/*
cytodyem_plot_extract/sandbox/Controls/Debug/*
cytodyem_plot_extract/sandbox/Controls/Release/*
cytodyem_plot_extract/sandbox/Interfaces/Release/*
qml/HelloQml/HelloQml.pro.user
qml/build-HelloQml-Desktop_Qt_5_5_0_MSVC2012_32bit-Debug
qt_experiment/HelloQml/Debug
qt_experiment/HelloQml/GeneratedFiles
qt_experiment/HelloQml/Release
qt_experiment/Release/
qt_experiment/*/*.pro.user
qt_experiment/QtQuickUi/QtQuickUi.qmlproject.user
GeneratedFiles/
*.qmlproject.user
Debug/
