/* CSS styles for use when styling statistics tables */
table.statistics {
    border-collapse: collapse;
    text-align: right;
}

.statistics tr.plot-header {
    background-color:#EAD8D8;
    color: #CC0000;
}

.statistics col {
    width: 4em;
}

.statistics th {
    vertical-align: top;
    font-size: 0.8em;
}

.statistics td {
    font-size: 0.8em;
}

.statistics td[data-meaning="count-absolute"] {
    width: 7em;
}

.statistics td[data-meaning="mean"],
.statistics td[data-meaning="median"] {
    width: 6em;
}

/*
  The way I implement tabs is shamelessly stolen from:
  http://css-tricks.com/functional-css-tabs-revisited/
*/
.tabs {
  position: relative;
  min-height: 22em; /* This part sucks */
  clear: both;
  margin: 25px 0;
}
.tab {
  float: left;
}
.tab label {
  background: #eee;
  padding: 10px;
  border: 1px solid #ccc;
  margin-left: -1px;
  position: relative;
  left: 1px;
}
.tab [type=radio] {
  display: none;
}
.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 3px;
  border: 1px solid #ccc;
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}
